.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-main-main-ui {
  opacity: 0;
  z-index: -1;
  background: #fff;
}

.zmiti-main-main-ui.show {
  opacity: 1;
  z-index: 1000;
}

.zmiti-main-main-ui .zmiti-vote-header img {
  width: 300px;
}

.zmiti-main-main-ui .zmiti-vote-group {
  width: 700px;
  margin: 40px auto;
}

.zmiti-main-main-ui .zmiti-vote-group .zmiti-vote-item {
  margin: 20px 0;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
}

.zmiti-main-main-ui .zmiti-vote-group .zmiti-vote-item-progress {
  margin-left: 40px;
}

.zmiti-main-main-ui .zmiti-vote-group .zmiti-vote-item-progress > div:nth-of-type(2) {
  width: 450px;
  height: 50px;
  line-height: 50px;
  text-align: right;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  background: #edf0f3;
}

.zmiti-main-main-ui .zmiti-vote-group .zmiti-vote-item-progress > div:nth-of-type(2) label {
  margin-right: 10px;
  position: relative;
  z-index: 10;
}

.zmiti-main-main-ui .zmiti-vote-group .zmiti-vote-item-progress > div:nth-of-type(2) span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0261c0;
  left: -100%;
  top: 0;
  z-index: 0;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

@-webkit-keyframes ar {
  from {
    margin-top: -5px;
  }
  to {
    margin-top: 5px;
  }
}
